.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 75vh;
    border-style: dotted;
}

.center {
    margin-top: 12.5%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 0 4;
}

.button {
    height: 75%;
    width: 75%;
    margin-left: 20px;
}

.title {
    font-size: 300%;
    margin-bottom: 50px;
}

.form {
    width: 300%;
}
